* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display:block;
}

/**
font-family: 'Poppins', sans-serif;
font-family: 'Carter One', cursive;
**/

#background {
  background: gray url("../images/kittens1.jpg") repeat;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  z-index: -1;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  text-align: center;
  color: mediumorchid;
  margin: 0 auto 15px auto;
	background-color: rgba(0,0,0,.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.catlogo {
	max-width: 200px;
	width: 90%;
	padding-top: 10px;
	margin: 0 auto;
	align-self: center;
	-webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.catlogo:hover {
	-webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.desktop-menu {
	display: none;
}

h1 {
	font: 1.5625rem 'Carter One', cursive;
	margin: 0px 1% 20px 1%;
	color: mediumorchid;
	font-size: 2.3rem;
	text-align: center;
	text-shadow: 1px 2px 2px rgba(0,0,0,.05);
}

.yarn {
  position: absolute;
  top: 50px;
  right: -85px;
  animation: catchaseyarn 9s forwards infinite linear;
	z-index: 99;
}

.cat-chase {
  position: absolute;
  top: 20px;
  right: -900px;
  animation: catchasecat 9s 1s forwards infinite linear;
	z-index: 99;
}

.end {
  font: 1.3rem/125% 'Carter One', cursive;
  color: white;
  margin: 0 auto;
  padding: 5px 1%;
	background-color: rgba(0,0,0,.15);
}

.final {
  text-align: center;
	text-shadow: 1px 2px 2px rgba(0,0,0,.75)
}

/**********************HOME PAGE*******************************/
.intro {
  max-width: 700px;
	width: 85%;
  margin: 0 auto;
  padding: 10px 2%;
  border: 5px double darkgreen;
  border-radius: 20px;
  background-color: aliceblue;
  font: 1rem/1.5em 'poppins', sans-serif;
  color: midnightblue;
  letter-spacing: .05em;
}

blockquote {
  font-style: oblique;
  position: relative;
  left: 5%;
  bottom: 10px;
	padding: 10px 5% 0px 0px
}

h2 {
  font-weight: bold;
  color: mediumorchid;
}

.cats-all {
  text-align: center;
}

.cats {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
	width: 90%;
  margin: 10px 1%;
  padding: 10px 2%;
  border: 5px double darkgreen;
  border-radius: 20px;
  background-color: aliceblue;
  font: 1rem/1.5em 'poppins', sans-serif;
  color: midnightblue;
  letter-spacing: .05em;
}

p {
  text-align: left;
	padding: 10px 3%;
}

.catphoto {
  max-width: 300px;
	width: 90%;
  padding: 20px 3%;
  filter: blur(1px) grayscale(100%);
  transition: .5s;
}

.catphoto:hover {
  filter: blur(0px);
  transition: .5s;
}

#allergic {
  font-style: oblique;
  letter-spacing: 1px;
}

/*******************END HOME PAGE******************************/



/*********************CATS PAGES*******************************/

.bengalh1 {
	text-decoration: none;
}

.details {
	display: flex;
	flex-direction: column;
}

.subdetail {
	flex: 1;
}

.image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

figure {
	width: 100%;
	align-self: center;
	padding: 5px 1%;
}

figure img {
	max-width: 100%;
}

.subcats-all {
  text-align: center;
}

.subcats {
  display: inline-block;
  vertical-align: top;
  max-width: 800px;
	width: 90%;
  margin: 10px 1%;
  padding: 10px 2%;
  border: 5px double darkgreen;
  border-radius: 20px;
  background-color: aliceblue;
  font: 1rem/1.5em 'poppins', sans-serif;
  color: midnightblue;
  letter-spacing: .05em;
}

.button1 {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid darkgreen;
	margin: 0 0.3em 1.5em 0;
	border-radius: 10px;
	box-sizing: border-box;
	color: mediumorchid;
	text-align: center;
	transition: all 0.2s;
	text-decoration: none;
	font-size: .9rem;
}

.button1:hover {
	color: mediumorchid;
	background-color: lightgrey;
}

@media all and (max-width:30em) {
	.button1 {
		display:block;
		margin:0.4em auto;
	}
}
/********************END BENGAL PAGE***********************/



/******************HAMBURGER MENU**************************/
.hamburger{
	background:none;
	position:absolute;
	top:0;
	right:0;
	line-height:45px;
	padding:5px 15px 0px 15px;
	color:#ffffff;
	border:0;
	font-size:2em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}

.cross{
	background:none;
	position:absolute;
	top:0px;
	right:0;
	padding:7px 15px 0px 15px;
	color:#999;
	border:0;
	font-size:4em;
	line-height:65px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size: 1em; width:100%; background: aliceblue; text-align:center; top: 3.4%; font-family: 'poppins', serif;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background: aliceblue; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:midnightblue;}
.menu ul li a:hover {  color: darkgreen; text-decoration:none;}
.menu a{text-decoration:none; color:midnightblue;}
.menu a:hover{text-decoration:none; color: darkgreen;}
/***************END HAMBURGER MENU***********************/



/*****************615 MEDIA QUERY*********************************/
@media (min-width: 615px) {

	.menu, .hamburger, .cross {
		display: none;
	}

	.header-nav {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
		}

	.catlogo {
		margin: 0;
	}

	.desktop-menu {
		display: inline-block;
    text-align: right;
		flex-wrap: nowrap;
		flex: 2;
	}

	.desktop-menu ul {
		flex: 1;
	}

	.desktop-menu ul li {
		list-style-type: none;
		padding-right: 2%;
		display: inline-block;
	}

	.desktop-menu ul li a {
		font: 1rem 'poppins', sans-serif;
		text-decoration: none;
		color: midnightblue;
		font-weight: bold;
	}

	.snip1198 * {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition: all 0.35s ease;
	  transition: all 0.35s ease;
	}

	.snip1198 li {
	  list-style: outside none none;
	  padding: 0;
	}

	.snip1198 a {
	  padding: 0 0.7em;
	  color: rgba(255, 255, 255, 0.5);
	  position: relative;
	  display: inline-block;
	}

	.snip1198 a:before {
	  position: absolute;
	  content: '';
	  -webkit-transition: all 0.35s ease;
	  transition: all 0.35s ease;
	  opacity: 0;
	  left: 15%;
	  right: 15%;
	  top: 0;
	  bottom: 0;
	  border-left: 3px solid darkgreen;
	  border-right: 3px solid darkgreen;
	}

	.snip1198 a:hover,
	.snip1198 .current a {
	  color: mediumorchid;
	}

	.snip1198 a:hover:before,
	.snip1198 .current a:before {
	  opacity: 1;
	  left: 0;
	  right: 0;
	}

	h1 {
		text-shadow: 1px 2px 2px rgba(0,0,0,.75)
	}

	.catphoto {
		float: right;
	}

figure {
		width: 48%;
  	padding: 10px 1%;
	}
}
/*************END 615 MEDIA QUERY*********************************/



/*****************700 MEDIA QUERY*********************************/
@media (min-width: 700px) {

	.details {
		flex-direction: row;
	}
}

/****************END 700 MEDIA QUERY******************************/



/********************900 MEDIA QUERY******************************/
@media (min-width: 900px) {
	figure {
		width: 29%;
  	padding: 10px 1%;
	}
}
/****************END 900 MEDIA QUERY******************************/



/**********************CSS ANIMATIONS*****************************/
@keyframes catchaseyarn {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(-1500px);
  }
}

@keyframes catchasecat {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-2500px);
  }
}
/*******************END CSS ANIMATIONS*****************************/
