* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display:block;
}

@font-face {
  font-family:'openserif';
  src: url('../fonts/openserif.ttf')
  format('truetype');
}

#background {
  background: gray url("../images/kittens1.jpg") repeat;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  z-index: -1;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

header {
  font: bold 25px/3.3em 'Mali', cursive;
  text-align: center;
  color: mediumorchid;
  background-color: white;
  width: 470px;
  margin: 0 auto;
  border-radius: 7px;
}

h1 {
  text-decoration: underline;
}

.intro {
  width: 700px;
  margin: 0 auto;
  padding: 10px 20px;
  border: 5px double darkgreen;
  border-radius: 20px;
  background-color: aliceblue;
  font: 16px/1.5em 'openserif', serif;
  color: midnightblue;
  letter-spacing: .05em;
}

blockquote {
  font-style: oblique;
  position: relative;
  left: 50px;
  bottom: 10px;
}

h2 {
  font-weight: bold;
  color: mediumorchid;
}

.cats-all {
  text-align: center;
}

.cats {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  margin: 10px;
  padding: 10px 20px;
  border: 5px double darkgreen;
  border-radius: 20px;
  background-color: aliceblue;
  font: 16px/1.5em 'openserif', serif;
  color: midnightblue;
  letter-spacing: .05em;
}

p {
  text-align: left;
}

.catphoto {
  float: right;
  width: 300px;
  padding: 20px;
  filter: blur(1px) grayscale(100%);
  transition: .5s;
}

.catphoto:hover {
  filter: blur(0px);
  transition: .5s;
}

#allergic {
  text-decoration: underline;
  font-style: oblique;
  letter-spacing: 1px;
}

.yarn {
  position: absolute;
  top: 50px;
  right: 0px;
  animation: catchaseyarn 9s forwards infinite linear;
}

.cat-chase {
  position: absolute;
  top: 20px;
  right: -900px;
  animation: catchasecat 9s 1s forwards infinite linear;
}

.end {
  font: bold 20px/150% 'Mali', cursive;
  color: mediumorchid;
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 7px;
}

.final {
  display: inline;
}


@keyframes catchaseyarn {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(-1500px);
  }
}

@keyframes catchasecat {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-2500px);
  }
}
